.PostCard {
  display: block;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  padding: 20px;
}

.postCardWrapper {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #e0e0e0;
  overflow: hidden;
}

.postCardWrapper img {
  display: block;
  width: 100%; 
  height: 100%; /* Ensure the image fills the wrapper */
  object-fit: cover; 
  background-color: transparent;
}

.postCardWrapper--fixed {
  height: 180px;
}
.postCardWrapper--fixed img {
  height: 100%;
}

.PostList .PostCard{
  margin-bottom: 10px;
}