.floating-up-button {
  position: fixed;
  bottom: 30px; 
  right: 30px;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #000000; 
  color: white;
  font-size: 2em;
  line-height: 1;
  cursor: pointer;
  z-index: 1000; 
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px); 
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.floating-up-button.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); 
}

/* Efecto Hover */
.floating-up-button:hover {
  background-color: #ae1d1d;
}