.Footer {
  display: block;
  min-height: 250px;
  margin-top: 40px;
  border-top: 2px solid black;
}

#footerLinks {
  margin-top: 15px;
  margin-left: 50px;
  display: flex;
  gap: 35px;
}

#footerLinks svg {
  color: rgb(201, 23, 0);
  width: 50px;
  height: 50px;
  transition: transform 300ms ease;
}
