.ProductCard {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  color: black;
  text-decoration: none;
}

.ProductCard .product-info {
  flex-grow: 1;
}

.ProductCard .ProductCardImageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #bdbdbd;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ProductCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 300ms ease-in-out;
}

.ProductCard img:hover {
  cursor: zoom-in;
  transform: scale(1.2);
}
.ProductCard .ProductCardActions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.ProductCard .ProductCardActions a {
  display: block;
  width: 100%;
}



/* ---------------------- */

.ProductGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
