@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

.cardProduct {
  height: auto;
  user-select: none;
  background: black;
  max-width: 400px;
  color: white;
  padding: 10px;
  padding-bottom: 25px;
  padding-right: 15px;
  position: relative;
  transition: clip-path 300ms ease;
  clip-path: polygon(2% 3%, 100% 0%, 97% 97%, 0% 100%);
}

.cardProduct:hover {
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.cardProduct img {
  margin-top: 10px;
  width: 97%;
  transition: all 300ms ease;
}

.cardProduct:hover img {
  transform: scale(1.03) translateX(2px);
}

.cardProduct button:hover {
  cursor: pointer;
}

.cardProduct button:disabled {
  border-color: red;
  color: red;
  cursor: not-allowed;
}

.cardProduct button {
  border-radius: 0;
  color: white;
  border: 1px solid white;
  border-bottom: 3px solid white;
  background: transparent;
  padding: 5px;
  margin-bottom: 10px;
}

.strike {
  display: flex;
  width: 100%;
  position: absolute;
  font-weight: bold;
  background: red;
  padding: 7px;
  z-index: 100;
}

body {
  font-family: "Chelsea Market";
  margin: 0;
}