@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

.cardProduct {
  height: auto;
  user-select: none;
  background: black;
  max-width: 400px;
  color: white;
  padding: 10px;
  padding-bottom: 25px;
  padding-right: 15px;
  position: relative;
  transition: clip-path 300ms ease;
  clip-path: polygon(2% 3%, 100% 0%, 97% 97%, 0% 100%);
}

.cardProduct:hover {
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.cardProduct img {
  margin-top: 10px;
  width: 97%;
  transition: all 300ms ease;
}

.cardProduct:hover img {
  transform: scale(1.03) translateX(2px);
}

.cardProduct button:hover {
  cursor: pointer;
}

.cardProduct button:disabled {
  border-color: red;
  color: red;
  cursor: not-allowed;
}

.cardProduct button {
  border-radius: 0;
  color: white;
  border: 1px solid white;
  border-bottom: 3px solid white;
  background: transparent;
  padding: 5px;
  margin-bottom: 10px;
}

.strike {
  display: flex;
  width: 100%;
  position: absolute;
  font-weight: bold;
  background: red;
  padding: 7px;
  z-index: 100;
}

body {
  font-family: "Chelsea Market";
  margin: 0;
}

#footerLinks {
  margin-top: 15px;
  margin-left: 50px;
  display: flex;
  gap: 35px;
}

#footerLinks svg {
  color: rgb(201, 23, 0);
  width: 50px;
  height: 50px;
  transition: transform 300ms ease;
}

#footerLinks svg:hover {
  transform: rotate(12deg) scale(1.1);
}

#endpage {
  height: 250px;
  border-top: 4px solid black;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='80' patternTransform='scale(8) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffffff'/><path d='M25 51.35l2.58 6 6.53.58-4.92 4.3 1.45 6.4L25 65.28l-5.64 3.36 1.45-6.39-4.92-4.3 6.53-.59zM21.86 65.2L25 63.35l3.14 1.86-.83-3.53 2.75-2.39-3.64-.33-1.45-3.36-1.44 3.36-3.61.3 2.75 2.4zM50 71.35l2.58 6 6.53.58-4.92 4.3 1.45 6.4L50 85.28l-5.64 3.36 1.45-6.39-4.92-4.3 6.53-.58zM46.86 85.2L50 83.35l3.14 1.86-.8-3.56 2.74-2.39-3.64-.33L50 75.57l-1.44 3.36-3.64.33 2.75 2.4zM75 11.35l2.58 6 6.53.58-4.92 4.3 1.45 6.4L75 25.29l-5.64 3.36 1.45-6.39-4.92-4.3 6.53-.59zM71.86 25.2L75 23.35l3.14 1.86-.8-3.56 2.74-2.39-3.64-.33L75 15.57l-1.44 3.36-3.64.33 2.75 2.4zM50-8.65l2.58 6 6.53.58-4.92 4.3 1.45 6.4L50 5.28l-5.64 3.36 1.45-6.39-4.92-4.3 6.53-.59zM46.86 5.2L50 3.35l3.14 1.86-.8-3.56 2.74-2.39-3.64-.33L50-4.43l-1.44 3.36-3.64.33 2.75 2.4zM100 43.35l-3.14 1.86.8-3.53-2.74-2.42 3.64-.33L100 35.6v-4.25l-2.58 6.03-6.53.58 4.94 4.3-1.47 6.4 5.64-3.37zm-94.39 5.3l-1.47-6.39 4.94-4.3-6.52-.59L0 31.36v4.25l1.42 3.33 3.64.33-2.75 2.42.8 3.53L0 43.35v1.94z'  stroke-width='1' stroke='none' fill='%230000008a'/><path d='M75 51.35l2.58 6 6.53.58-4.92 4.3 1.45 6.4L75 65.28l-5.64 3.36 1.45-6.39-4.92-4.3 6.53-.59zM71.86 65.2L75 63.35l3.14 1.86-.8-3.56 2.74-2.39-3.64-.33L75 55.57l-1.44 3.36-3.64.33 2.75 2.4zM100 75.6v-4.25l-2.58 6.03-6.53.58 4.94 4.3-1.47 6.4 5.64-3.37v-1.94l-3.14 1.86.8-3.53-2.74-2.42 3.64-.33zm-100 0l1.42 3.33 3.64.33-2.75 2.42.8 3.53L0 83.35v1.94l5.61 3.36-1.47-6.39 4.94-4.3-6.52-.58L0 71.34zm25-64.25l2.58 6 6.53.58-4.92 4.3 1.45 6.4L25 25.29l-5.64 3.36 1.45-6.39-4.92-4.3 6.53-.59zM21.86 25.2L25 23.35l3.14 1.86-.83-3.53 2.75-2.39-3.64-.33-1.45-3.36-1.44 3.36-3.61.3 2.75 2.4zM100 3.35L96.86 5.2l.8-3.53-2.74-2.42 3.64-.33L100-4.4v-4.25l-2.58 6.02-6.53.59 4.94 4.3-1.47 6.4L100 5.28zM5.61 8.65L4.14 2.26l4.94-4.3-6.52-.59L0-8.65v4.25l1.42 3.33 3.64.33L2.3 1.68l.8 3.53L0 3.35v1.94zM50 31.35l2.58 6 6.53.58-4.92 4.3 1.45 6.4L50 45.28l-5.64 3.36 1.45-6.39-4.92-4.3 6.53-.59zM46.86 45.2L50 43.35l3.14 1.86-.8-3.56 2.74-2.39-3.64-.33L50 35.57l-1.44 3.36-3.64.33 2.75 2.4z'  stroke-width='1' stroke='none' fill='%23000000ff'/><path d='M45.28 58.82l3.25-.3 1.3-3 1.28 3 3.25.3-2.47 2.14.75 3.2-2.8-1.67L47 64.15l.75-3.2zM100 62.65v-6.97l-1.3 3-3.26.3 2.48 2.14-.75 3.2zM0 62.57l2.64 1.58-.75-3.2 2.47-2.13-3.25-.3L0 55.9zm70.28 16.25l3.25-.3 1.3-3 1.28 3 3.25.3-2.47 2.14.75 3.2-2.8-1.67L72 84.15l.75-3.2zm-50 0l3.25-.3 1.3-3 1.28 3 3.25.3-2.47 2.14.75 3.2-2.8-1.67L22 84.15l.75-3.2zm31.6-57.86l.76 3.2-2.8-1.67L47 24.15l.75-3.2-2.47-2.13 3.25-.3 1.3-3 1.28 3 3.25.3zM100 15.68l-1.3 3-3.26.3 2.48 2.14-.75 3.2 2.83-1.67zM2.64 24.15l-.75-3.2 2.47-2.13-3.25-.3L0 15.9v6.67zM76.89.95l.75 3.2-2.8-1.66L72 4.15l.75-3.2-2.47-2.13 3.25-.3 1.3-3 1.28 3 3.25.3zm-50 0l.75 3.2-2.8-1.66L22 4.15l.75-3.2-2.47-2.13 3.25-.3 1.3-3 1.28 3 3.25.3zm50 40l.75 3.2-2.8-1.66L72 44.15l.75-3.2-2.47-2.13 3.25-.3 1.3-3 1.28 3 3.25.3zm-50 0l.75 3.2-2.8-1.66L22 44.15l.75-3.2-2.47-2.13 3.25-.3 1.3-3 1.28 3 3.25.3z'  stroke-width='1' stroke='none' fill='%230000008a'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-1280)' fill='url(%23a)'/></svg>");
}

#navbar {
  font-size: larger;
  font-family: "Chelsea Market";
  padding: 10px;
}

#navbar ul li a {
  text-decoration: none;
  color: red;
}

#navbar ul li a:hover {
  text-decoration: wavy;
  text-decoration-thickness: 4px;
  text-decoration-color: red;
}

#navbar ul li {
  display: inline-block;
  margin-right: 40px;
}

#bubbleText {
  user-select: none;
  margin: 0px;
  padding: 20px;
  padding-bottom: 40px;
  height: 180px;
  width: 180px;
  background: black;
  color: white;
  clip-path: polygon(
    5% 14%,
    94% 7%,
    95% 72%,
    64% 67%,
    75% 100%,
    50% 75%,
    3% 70%
  );
}

#bubbleText p {
  text-wrap-style: balance;
  transform: rotate(-5deg);
}

.productGrid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}