.product-details {
  padding-right: 15px;
  padding-bottom: 10px;
}







.cardProductCart {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  padding-left: 15px;
  margin: 20px;
  border: 2px solid black;
  border-bottom: 7px solid black;
}

.cardProductCart h3 {
  margin-top: -15px;
  font-size: 23px;
  color: rgb(201, 23, 0);
}

.cardProductCart p {
  opacity: 0.9;
}

.cardProductCart button {
  display: block;
  color: whitesmoke;
  background: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  width: 100%;
}

.cardProductCart button:hover {
  cursor: pointer;
}

.cardProductCart button:active {
  transform: translateY(5px);
}

.cardProductCart button:focus {
  outline: 4px solid red;
}

.cardProductCart dl dt {
  color: rgb(201, 23, 0);
}

.cardProductCart a {
  color: red;
  text-decoration-style: double;
}

/* centra verticalmente la imagen del album */
.cardProductCart figure {
  align-self: center;
}

.cardProductCart img {
  margin: 10px auto;
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  /* recomendacion => https://cssgenerator.org/box-shadow-css-generator.html */
  box-shadow: 10px 10px 0px 3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 10px 0px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 3px rgba(0, 0, 0, 1);
  transition: transform 300ms;
}

.cardProductCart img:hover {
  transform: rotate(5deg) scale(1.1);
}